.bg-body-tertiary {
  background-color: transparent !important;
}
.bg-body-tertiary .navbar-collapse {
  flex-grow: 0;
}
.carousel .carousel-item {
  background-image: url(../assets/uploads/banner_1.jpg);
  background-size: cover;
  background-position: center 0;
}
@media (max-width: 576px) {
  .carousel .carousel-item {
    height: 150px;
  }
}
@media (min-width: 576px) {
  .carousel .carousel-item {
    height: 250px;
  }
}
@media (min-width: 992px) {
  .carousel .carousel-item {
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .carousel .carousel-item {
    height: 500px;
  }
}
.carousel .carousel-item:nth-child(2) {
  background-image: url(../assets/uploads/banner_2.jpg);
}
.carousel .carousel-item:nth-child(3) {
  background-image: url(../assets/uploads/banner_3.jpg);
}
.carousel .carousel-item:nth-child(4) {
  background-image: url(../assets/uploads/banner_4.jpg);
}
